pipeline/Child Pipeline Incremental.json
{
	"name": "Child Pipeline Incremental",
	"properties": {
		"activities": [
			{
				"name": "LKP_MAX_VALUE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(@{pipeline().parameters.watermarkcolumn}) AS MaxValue\nFROM @{pipeline().parameters.tableschema}.@{pipeline().parameters.tablename}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LKP_MAX_VALUE",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.tablename",
								"type": "Expression"
							},
							"schemaname": {
								"value": "@pipeline().parameters.tableschema",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKP_MAX_VALUE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\n    equals(pipeline().parameters.lastloadvalue, null),\n    greater(\n        int(activity('LKP_MAX_VALUE').output.firstRow.MaxValue),\n        int(pipeline().parameters.lastloadvalue)\n    )\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "COPY_SQL_FULL_INC_LOAD_TABLE",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n    'SELECT * FROM ',\n    pipeline().parameters.tableschema, '.',\n    pipeline().parameters.tablename,\n    if(\n        equals(pipeline().parameters.lastloadvalue, null),\n        '',\n        concat(\n            ' WHERE ',\n            pipeline().parameters.watermarkcolumn,\n            ' > ''',\n            pipeline().parameters.lastloadvalue,\n            ''''\n        )\n    )\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "LKP_MAX_VALUE",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@pipeline().parameters.tablename",
											"type": "Expression"
										},
										"schemaname": {
											"value": "@pipeline().parameters.tableschema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_PARQUET1",
									"type": "DatasetReference",
									"parameters": {
										"foldername": {
											"value": "@concat(\n  pipeline().parameters.tablename, '/',\n  formatDateTime(utcNow(),'yyyy'), '/',\n  formatDateTime(utcNow(),'MM'), '/',\n  formatDateTime(utcNow(),'dd')\n)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "EXEC_UPDATE_WATERMARK",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "COPY_SQL_FULL_INC_LOAD_TABLE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Child Pipeline Stored Procedure",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableSchema": {
										"value": "@pipeline().parameters.tableschema",
										"type": "Expression"
									},
									"TableName": {
										"value": "@pipeline().parameters.tablename",
										"type": "Expression"
									},
									"WaterMarkColumn": {
										"value": "@pipeline().parameters.watermarkcolumn",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tableschema": {
				"type": "string"
			},
			"tablename": {
				"type": "string"
			},
			"watermarkcolumn": {
				"type": "string"
			},
			"lastloadvalue": {
				"type": "string"
			}
		},
		"variables": {
			"ChildOutput": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Dev_migration_pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2026-04-28T15:28:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}